
<html>
<head>
    <link rel="stylesheet" href="../static/main.css" />
   <link ... href="{{ url_for('static', filename='main.css') }}" />
   <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
   <body>
      <div class="container">
         <h1>Patent ID Extractor</h1>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <div class="input_box">
         <input id="patent_file" type = "file" name = "file" style="visibility: hidden;width: 0px;height: 0px;" />
              <label for="patent_file" id="patent_label">Click here to upload file</label>
         </div>
         <button type = "submit">Submit</button>
      </form>
      </div>

   <script>
      document.getElementById("patent_file").addEventListener('change', function label_change() {
      var input = this.value;
      var file_name=''
      if (input) {
       var startIndex = (input.indexOf('\\') >= 0 ? input.lastIndexOf('\\') : input.lastIndexOf('/'));
       var filename = input.substring(startIndex);
       if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
           filename = filename.substring(1);
       }
       file_name=filename
      }
      document.getElementById("patent_label").innerHTML = file_name;
      })

   </script>
   </body>
</html>