
<html>
<head>
    <link rel="stylesheet" href="../static/main.css" />
   <link ... href="{{ url_for('static', filename='main.css') }}" />
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
   <body>
      <div class="container">
         <h1>Patent ID Extractor</h1>
      <form  action = "http://localhost:5001/patent_download_service" method = "POST"
         enctype = "multipart/form-data" name="fileinfo">
         <div class="input_box">
         <input id="patent_file" type = "file" name = "file" style="visibility: hidden;width: 0px;height: 0px;" />
              <label for="patent_file" id="patent_label">Click here to upload file</label>
         </div>
         <button type = "submit" id="submit-button">Submit</button>
         <div id="msg-container">
            <img src="../static/images/info.svg" class="info"/>
            <div id="msg"></div>
         </div>

      </form>
      </div>

   <script>
      var getReq = '{{getReq}}'
      var msg = ''
      var timer= null

      function reqListener() {
        var res = this.responseText;
        document.getElementById("msg-container").style.visibility = "visible";
        document.getElementById("msg").innerHTML=res
          if(!(res==="" || res==="Downloading")){
              clearInterval(timer)
              timer=null
          }
      }

      function getProgress(){
          var oReq = new XMLHttpRequest();
          oReq.open("GET", "/download_process", true);
          oReq.send()
          oReq.addEventListener('load', reqListener);
      }

      function start_timer(){
         timer = setInterval(getProgress,1000)
      }

      if(getReq==="1"){
         timer = setInterval(getProgress,1000)
      }

      document.getElementById("submit-button").addEventListener('click', function on_submit() {
      start_timer()
      })


      document.getElementById("patent_file").addEventListener('change', function label_change() {
      var input = this.value;
      var file_name=''
      if (input) {
       var startIndex = (input.indexOf('\\') >= 0 ? input.lastIndexOf('\\') : input.lastIndexOf('/'));
       var filename = input.substring(startIndex);
       if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
           filename = filename.substring(1);
       }
       file_name=filename
      }
      document.getElementById("patent_label").innerHTML = file_name;
      })

   </script>
   </body>
</html>