
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css" />
   <link ... href="{{ url_for('static', filename='main.css') }}" />
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
   <body style="background-image:url('../static/Images/lawfirm.jpg');">

        <div class = "navbar">
           <ul>
               <li><img src="../static/Images/Icon.png" width="70" height="55"></li></li>
               <li><a href="/">Home</a></li>
               <li><a class="active" href="/patent_download_service">Download</a></li>
               <li><a href="/patent_search_service">Extraction</a></li>
           </ul>
        </div>

      <div class="main">
          <div class="container">
         <h1>Patent ID Extractor</h1>
      <form class ="form" id="myForm">
         <div class="input_box">
         <input id="patent_file" type = "file" enctype="multipart/form-data" name = "file" style="visibility: hidden;width: 0px;height: 0px;" />
              <label for="patent_file" id="patent_label">Click here to upload file</label>
         </div>
         <button type = "submit" id="submit-button">Submit</button>

        <div id="downloading" class="alert alert-info" role="alert" style="display:none;"></div>
        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
      </form>
      </div>
      </div>


   <script>
   var form = document.getElementById("myForm");

   function handleForm(event) {
      event.preventDefault();
      document.getElementById("downloading").innerHTML="Downloading....."
      document.getElementById("downloading").style.display = "block";
      document.getElementById("errorAlert").style.display = "none";
      document.getElementById("successAlert").style.display = "none";

      var oData = new FormData(form);
      var oReq = new XMLHttpRequest();
      oReq.open("POST", "/download_process", true);
      oReq.onload = function(oEvent) {
        if (JSON.parse(oReq.responseText).error) {
              document.getElementById("errorAlert").innerHTML=(JSON.parse(oReq.responseText).error)
              document.getElementById("errorAlert").style.display = "block";
              document.getElementById("downloading").style.display = "none";
              document.getElementById("successAlert").style.display = "none";
        } else {
              document.getElementById("successAlert").innerHTML=(JSON.parse(oReq.responseText).success)
              document.getElementById("successAlert").style.display = "block";
              document.getElementById("downloading").style.display = "none";
              document.getElementById("errorAlert").style.display = "none";
        }
      };
      oReq.send(oData);
      }

      form.addEventListener('submit', handleForm);

      document.getElementById("patent_file").addEventListener('change', function label_change() {
      var input = this.value;
      var file_name=''
      if (input) {
       var startIndex = (input.indexOf('\\') >= 0 ? input.lastIndexOf('\\') : input.lastIndexOf('/'));
       var filename = input.substring(startIndex);
       if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
           filename = filename.substring(1);
       }
       file_name=filename
      }
      document.getElementById("patent_label").innerHTML = file_name;
      })

   </script>
   </body>
</html>