<html>

    <head>
        <title>Patent-Extraction</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!--        <script src="{{ url_for('static', filename='form.js') }}"></script>-->
        <script src ="../static/form.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link href="../static/main.css" rel="stylesheet" />


    </head>
    <body style="background-image: url('../static/Images/lawyer-background.jpg');">

        <div class = "navbar">
           <ul>
               <li><img src="../static/Images/Icon.png" width="70" height="55"></li></li>
               <li><a href="/">Home</a></li>
               <li><a class="active" href="/patent_search_service">Search</a></li>
           </ul>
        </div>
        <div class="main">
            <div class="container">
              <form class ="form">
                  <div class="form-container">
                <input type="text" id="nameInput" class="form-control" placeholder="Examiner Name" style="height:70px;">
                  <input type="number" id="countInput" class="form-control" placeholder="Max Count" style="height:70px;min:1;max:50;">
                  </div>
                <button type="submit" value="Submit" id="submit-button">
                    <svg width="15px" height="15px" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="margin: 0px 20px !important" >
                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                </button>
              </form>
            </div>
            <div id="searching" class="alert alert-info" role="alert" style="display:none;"></div>
            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>

    <script>

    </script>
    </body>
</html>