
body{
background-image: url("images/bg.jpg");
background-size:cover;
display:grid;
align-items: center;
justify-content: center;
background-color:#fafafa;
color:rgba(0, 0, 0, 0.87);
height:100vh;
font-family: 'Roboto', sans-serif;
text-align:center;
}

.container{
margin:20px;
min-height: fit-content;
width: 600px;
padding:50px;
background-color:rgba(255,255, 255, 0.87);
border-radius: 6px;
}

form{
text-align:-webkit-center;
}

button{
  margin-top:20px;
  background-color:#2E86C1;
  padding: 10px 32px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 12px;
}

button:hover{
  background-color:#3598DA
}

.input_box{
    display:grid;
    width: 500px;
    height: 50px;
    border: dashed;
    border-width: thin;
    border-color: silver;
    border-radius: 12px;
}

#msg-container{
    visibility:hidden;
    display: grid;
    grid-template-columns: 10%90%;
    align-content: center;
    margin-top:10px;
    font-weight: 400;
    background-color: #F1E692;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    min-height: 30px;
}

#msg{
    display: grid;
    align-content: center;
    text-align:start;
    color: rgb(13, 60, 97);
}