
body{
background-image: url("images/bg.jpg");
background-size:cover;
display:grid;
align-items: center;
justify-content: center;
background-color:#fafafa;
color:rgba(0, 0, 0, 0.87);
height:100vh;
font-family: 'Roboto', sans-serif;
text-align:center;
}

.container{
margin:20px;
min-height: fit-content;
width: 600px;
padding:50px;
background-color:rgba(255,255, 255, 0.87);
border-radius: 6px;
}

form{
text-align:-webkit-center;
}

button{
  margin-top:20px;
  background-color:#2E86C1;
  padding: 10px 32px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 12px;
}

button:hover{
  background-color:#3598DA
}

.input_box{
    display:grid;
    width: 500px;
    height: 50px;
    border: dashed;
    border-width: thin;
    border-color: silver;
    border-radius: 12px;
}

    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

    }

    button {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 50px;
    }

    button:hover {
      background-color: #45a049;
    }

    div {
      margin: auto;
      width: 60%;
      padding: 10px;
    }

    .background-image{
        background-image: url("../static/Images/Back-img.jpg");
        min-height: 100vh;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        justify-content: center;
        /* -ms-flex-align: center;
        align-items: center;  */
        font-family: 'Poppins', sans-serif;
        background-size: cover;
        background-position: center center;
        padding: 15px;
        padding-top: 70px;
    }

